<div class="container">
    <h1>Sockets fun</h1>
    <h5 id="user"></h5>
    <p>Draw Below</p>
    <div id="draw-area"></div>
    <div>
        <p>Chat below</p>
        <div class="chatbox">
            <ul id="msg"></ul>
        </div>
        <input type="text" id="m">
        <button id="sub" class="btn">Send your message</button>
    </div>

</div>